* {
  font-family: Arial, Helvetica, sans-serif;
}

html, body {
  margin: 0;
  border: 0;
  padding: 0;
  background: rgb(11,6,98);
  background: linear-gradient(90deg, rgba(11,6,98,1) 25%, rgba(6,44,94,1) 50%, rgba(15,137,162,1) 75%); 
}

main {
  margin: auto;
  width: 50%;
  padding: 20px;
}

main > h1 {
  text-align: center;
  font-size: 3.5em;
}

text {
  margin: 10%;
  width: 50%;
  padding: 20px;
  color: #ffffff;
}

text > h2 {
  text-align: left;
  font-size: 2.0em;
}