* {
  font-family: Arial, Helvetica, sans-serif;
}

html, body {
  margin: 0;
  border: 0;
  padding: 0;
  background-color: #fff;
}

main {
  margin: auto;
  width: 50%;
  padding: 20px;
}

main > h1 {
  text-align: center;
  font-size: 3.5em;
}

text {
  margin: 10%;
  width: 50%;
  padding: 20px;
}

text > h2 {
  text-align: right;
  font-size: 2.5em;
}