* {
  font-family: Arial, Helvetica, sans-serif;
}

html, body {
  margin: 0;
  border: 0;
  padding: 0;
  background: rgb(11,6,98);
  background: linear-gradient(45deg, rgba(11,6,98,1) 25%, rgba(6,44,94,1) 50%, rgba(15,137,162,1) 75%);
  background-size: 2000px 1000px; 
}

main {
  margin: auto;
  width: 50%;
  padding: 20px;
  color: #afcfb1;
}

main > h1 {
  text-align: center;
  font-size: 3.5em;
}

text {
  margin: 300px;
  width: 50%;
  padding: 20px;
  color: #ecdfdf;
}

text > h2 {
  text-align: left;
  font-size: 2.0em;
}

div.img1 {
  background-image: url(/images/espalda.png);
  background-repeat: no-repeat;
  width: 100%;
  height: 2960;
  align-items: center;
}